{% extends 'base.html' %}

{% block head_title %}{% endblock head_title %}

{% block content %}
<div class="container">
    <form action="/form" method="post">
        <div class="row mt-3">
            <select class="form-select" aria-label="Default select example" name="pclass">
                <option selected>Seleziona la classe di viaggio</option>
                <option value="1">Prima</option>
                <option value="2">Seconda</option>
                <option value="3">Terza</option>
            </select>
        </div>
        <div class="row mt-3">
            <select class="form-select" aria-label="Default select example" name="sex">
                <option selected>Sceglie il sesso</option>
                <option value="0">Maschile</option>
                <option value="1">Feminile</option>
            </select>
        </div>
        <div class="row mt-3">
            <input type="text" class="form-control" placeholder="Eta da 0 a 76" name="age">
        </div>
        <div class="row mt-3">
            <select class="form-select" aria-label="Default select example" name="sibsp">
                <option selected>Inserisci fratello, sorella, fratellastro, sorellastra / marito, moglie (amanti e fidanzati sono contano)</option>
                <option value="0">Nessuno</option>
                <option value="1">Uno</option>
                <option value="2">Due</option>
                <option value="3">Tre</option>
                <option value="4">Quattro</option>
                <option value="5">Cinque</option>
                <option value="6">Sei</option>
                <option value="7">Sette</option>
                <option value="8">Otto</option>
            </select>
        </div>
        <div class="row mt-3">
            <select class="form-select" aria-label="Default select example" name="parch">
                <option selected>Inserisci madre, padre / figlia, figlio, figliastra, figliastro</option>
                <option value="0">Nessuno</option>
                <option value="1">Uno</option>
                <option value="2">Due</option>
                <option value="3">Tre</option>
                <option value="4">Quatro</option>
                <option value="5">Cinque</option>
                <option value="6">Sei</option>
                <option value="7">Sette</option>
                <option value="8">Otto</option>
            </select>
        </div>
        <div class="row mt-3">
            <input type="text" class="form-control" placeholder="Digita il costo del biglietto 0-512" name="fare">
        </div>
        <div class="row mt-3">
            <select class="form-select" aria-label="Default select example" name="embarked">
                <option selected>Seleziona il porto di imbarco</option>
                <option value="0">Cherbourg</option>
                <option value="1">Queenstown</option>
                <option value="2">Southampton</option>
            </select>
        </div>
        <div class="row mt-3">
            <button type="submit" class="btn btn-primary" >Proviamo a indovinare )</button>
        </div>
    </form>
</div>
{% endblock content %}
