{% extends 'base.html' %}

{% block head_title %}Scopri se sopravvivi{% endblock head_title %}

{% block content %}
<div class="container">
    <div>
        <p class="text-center fs-1">Ciao gente!</p>
        <p class="text-center fs-3">Questa applicazione rappresenta il lavoro del mio hobby.</p>
        <p class="text-center fs-3">Il duro apprendimento di linguaggio di programmazione Python, Machine Learning, Flask, Docker e AWS EC2</p>
        <p class="text-center fs-3"></p>
    </div>
    <form action="/form" method="post">
        <div class="row mt-3">
            <label class="form-label">Seleziona la classe di viaggio</label>
            <select class="form-select" aria-label="Default select example" name="pclass">
                <option selected value="1">Prima</option>
                <option value="2">Seconda</option>
                <option value="3">Terza</option>
            </select>
        </div>
        <div class="row mt-3">
            <label class="form-label">Scegli il sesso</label>
            <select class="form-select" aria-label="Default select example" name="sex">
                <option selected value="0">Maschile</option>
                <option value="1">Feminile</option>
            </select>
        </div>
        <div class="row mt-3">
            <label class="form-label">Scegli l'eta</label>
            <input type="number" class="form-control has-validation" placeholder="Da 0 a 76" name="age"  min="0" max="76" step="1" required>
            <div class="invalid-feedback">
                Please choose a username.
            </div>
        </div>
        <div class="row mt-3">
            <label class="form-label">Inserisci fratelli, sorelle, fratellastri, sorellastre / marito, moglie (amanti e fidanzati non contano)</label>
            <select class="form-select" aria-label="Default select example" name="sibsp">
                <option  selected value="0">Nessuno</option>
                <option value="1">Uno</option>
                <option value="2">Due</option>
                <option value="3">Tre</option>
                <option value="4">Quattro</option>
                <option value="5">Cinque</option>
                <option value="6">Sei</option>
                <option value="7">Sette</option>
                <option value="8">Otto</option>
            </select>
        </div>
        <div class="row mt-3">
            <label class="form-label">Inserisci madre, padre / figlie, figli, figliastre, figliastri</label>
            <select class="form-select" aria-label="Default select example" name="parch">
                <option selected value="0">Nessuno</option>
                <option value="1">Uno</option>
                <option value="2">Due</option>
                <option value="3">Tre</option>
                <option value="4">Quatro</option>
                <option value="5">Cinque</option>
                <option value="6">Sei</option>
                <option value="7">Sette</option>
                <option value="8">Otto</option>
            </select>
        </div>
        <div class="row mt-3">
            <label class="form-label">Digita il costo del biglietto</label>
            <input type="number" class="form-control" placeholder="Da 0 a 512" name="fare" min="0" max="512" step="0.001" required>
        </div>
        <div class="row mt-3">
            <label class="form-label">Seleziona il porto d'imbarco</label>
            <select class="form-select" aria-label="Default select example" name="embarked">
                <option selected value="0">Cherbourg</option>
                <option value="1">Queenstown</option>
                <option value="2">Southampton</option>
            </select>
        </div>
        <div class="row mt-3">
            <button type="submit" class="btn btn-primary" >Proviamo a indovinare )</button>
        </div>
    </form>
</div>
{% endblock content %}
